<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/main :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>ジャンル一覧画面</h3>
	<div th:text="${flash}" ></div>
	<form method="post" action="/genres">
		<label>ジャンルを入力</label>
		<input type="text" name="name"/>
		<input type="submit" value="送信">
	</form>
	<div>
		<form method="get" th:action="@{/genres/search}">
			<input type="text" th:name="name" placeholder="検索ワードを入力" />
			<input type="submit" value="検索" />
		</form>
	</div>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>名前</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="genre: ${genres}">
				<td th:text="${genre.id}"></td>
				<td th:text="${genre.name}"></td>
				<td><a th:href="@{/genres/{id}/edit(id=${genre.id})}">編集</a></td>
				<td>
					<form th:method="delete" th:action="@{/genres/{id}(id=${genre.id})}">
						<input type="submit" value="削除" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>