<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/main :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div>マイページ</div>
	<table>
	<thead>
		<tr>
			<th>id</th>
			<th>名前</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th th:text="${user.id}"></th>
			<th th:text="${user.name}"></th>
			<th th:text="${user.isDeleted}"></th>
		</tr>
	</tbody>
			
	</table>
	
	<div><a th:href="@{/users/{id}/edit(id=${user.id})}">編集する</a></div>
	<div>
		<form th:method="patch" th:action="@{/users/{id}/reject(id=${user.id})}">
			<input type="submit" value="退会する" />
		</form>
	</div>
	
</body>
</html>