<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div>items一覧画面</div>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>値段</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td><a th:href="@{/items/{id}(id=${item.id})}">詳細</a></td>
				<td><a th:href="@{/items/{id}/edit(id=${item.id})}">編集</a></td>
				<td>
					<form th:method="delete" th:action="@{/items/{id}(id=${item.id})}">
						<input type="submit" value="削除" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a href="/items/new">投稿画面へ移動</a>
</body>
</html>